<h2 class="govuk-heading-m">Why create an account?</h2>

<p class="govuk-body">Creating an account allows you to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Apply for a vacancy</li>
  <li>Track your applications</li>
  <li>Receive alerts about new vacancies</li>

</ul>
<p class="govuk-body">If you are a civil servant:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>You can access internal job vacancies</li>
  <li>You must provide a valid work email address so we can verify that you are employed by the Civil Service</li>
  <li>You can use a separate non-work related email address to manage your account and receive email notifications and job alerts</li>
</ul>
