{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "this is a test",
      href: "#dob-error"
    },
    {
      text: "Enter a postcode, like AA1 1AA",
      href: "#postcode-error"
    }
  ]
}) }}


{% from 'button/macro.njk' import govukButton %}

{{ govukButton({
  "text": "exit"
}) }}

        {% include "includes/form-builder/_renderer.html"%}



    </div>
</div>

{% endblock %}
