

{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        CI Prototype Kit</h1>

        <p class="govuk-body-l">Welcome to the Recruitment Platform for Government (RPG) Prototype Kit</p>
        <p class="gov-uk-body">Current journeys in development for active sprint:</p>
            <ul class="govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="account/sign-in">Sign in / Create an account (current workflow)</a></li></ul>
          <p class="gov-uk-body">Journeys in development (Work in progress):</p>
          <ul class="govuk-list govuk-list--bullet"><li><a class="govuk-link" href="/search">Search for a job (Work in progress)</a></li>
            <li><a class="govuk-link" href="/search/results">Search results (Work in progress)</a></li>
            <li><a class="govuk-link" href="account/sign-in">Sign in / Register (Work in progress)</a></li>

          </ul>
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      </h1>{{releaseVersion | log }}
      <h1 class="govuk-heading-xl">
        The GOV.UK Prototype Kit
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>

      <p>You can change the service name by editing the file '/app/config.js'.</p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://gov.uk/design-system">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
