{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% if (data['hasSignedIn']) %}
<p class="signedIn">Welcome, {{ (data['accountEmail']) }} <a href="./account/sign-out">Sign out</a></p>
{% endif %}



{% if (cs == 'no') and (data['hasSignedIn']) or (cs == false) %}
<div class="notification-banner">
<div class="wrapper">
<p>
<strong class="banner-heading">Want to see internal jobs?</strong>
<a
  href="#"
  class="notification-banner__btn"
  data-analytics="trackEvent"
  data-analytics-category="user-research"
  data-analytics-action="Close banner"
>Close</a>
</p>
<p>
<a
  href="../account/verify-cs"
  data-analytics="trackEvent"
  data-analytics-category="user-research"
  data-analytics-action="View sign up to user research screen"
>Verify your Civil Service email address</a>
</p>
</div>
</div>
{% endif %}

  <div class="govuk-grid-row">

    {% if (layout == "full") %}

    <div class="govuk-grid-column-full">

  {% elif (layout == "2-0") or (layout == "2-1") or (layout == null) %}

    <div class="govuk-grid-column-two-thirds">

      {% elif (layout =="1-1") or (layout == "1-0") %}
      <div class="govuk-grid-column-one-half">

  {% endif %}



        {% include "includes/form-builder/_renderer.html"%}



    </div>


    {% if (layout == "2-1") %}


    <div class="govuk-grid-column-one-third">
      {% if  partial != null %}
      {% include "includes/partials/" + partial + ".html" %}
      {% endif %}

        {% elif (layout =="1-1") %}
        <div class="govuk-grid-column-one-half">
          {% include "includes/partials/" + partial + ".html" %}

    </div>
    {% endif %}
</div>

{% endblock %}
