

{% if form.backTo %}
{{ govukBackLink({
  "href": form.backTo,
  "text": "Back"
}) }}
{% endif %}

<h1 class="govuk-heading-xl">
  {{ h1 }}
  {% if captionXL %}
    <span class="govuk-caption-xl">
      {{ captionXL }}</span>
  {% endif %}
</h1>
<form method="{% if(form.method =='post')%} post {% else %}get {% endif %}" action="{{form.action}}" name="{{form.name}}">
    {% for input in form.inputs%}
        {% if (input.type == "text") or (input.type == "password") %}
            {% include "includes/form-builder/_input-text.html"%}
        {% endif %}
        {% if (input.type == "radio") or (input.type == "checkbox") %}
            {% include "includes/form-builder/_input-radios.html"%}
        {% endif %}
        {% if (input.type == "select") %}
            {% include "includes/form-builder/_input-select.html"%}
        {% endif %}
        {% if (input.type == "details")%}
            {% include "includes/form-builder/_details.html"%}
        {% endif %}
        {% if (input.type == "conditionallyReveal")%}
            {% include "includes/form-builder/_conditionally-reveal.html"%}
        {% endif %}
        {% if (input.type == "conditionallyRevealMultiInput")%}
            {% include "includes/form-builder/_conditionally-reveal-multi-input.html"%}
        {% endif %}
        {% if input.type == "file"%}
            {% include "includes/form-builder/_file.html"%}
        {% endif %}
        {% if (input.type == "date") %}
            {% include "includes/form-builder/_input-date.html"%}
        {% endif %}
        {% if input.type == "hidden"%}
            {% include "includes/form-builder/_input-hidden.html"%}
        {% endif %}
        {% if input.type == "partial"%}
            {% include "includes/partials/" + input.path + ".html" %}
        {% endif %}
        {% if input.type == "html"%}
            {{ input.html| safe}}
        {% endif %}
        {% if input.type == "dump"%}
            {% include "includes/form-builder/_dump.html"%}
        {% endif %}
    {% endfor %}

 <input class="govuk-button" type="submit" value="{{ form.buttonText }}" {% if form.buttonDisabled %}disabled="disabled" aria-disabled="true"{% endif %}>
</form>
